<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--  this is our beans -->
    <bean class="com.springcore.Student" name="student1">
        <property name="studentId" value="23222" />
        <property name="studentName">
            <value>Anurag</value>
        </property>
        <property name="studentAddress">
            <value>Lucknow</value>
        </property>
    </bean>
<!--    second bean-->
    <bean class="com.springcore.Student" name="student2" p:studentId="4535" p:studentName="nakul" p:studentAddress="mumba"/>
<!--        <property name="studentId" value="23222" />-->
<!--        <property name="studentName" value="Lal singh"/>-->
<!--        <property name="studentAddress" value="Delhi"/>-->


</beans>